html {
  font-size: 22px;
}
body {
  font-family: Helvetica;
  font-size: 1rem;
  line-height: 1.4rem;
}

div {
  display: block;
}
li {
  display: list-item;
}
/* Header */
.company img {
  height: 1.5rem;
  padding: 0.66rem 0.66rem;
}
.company{
  background-color: black;
  color: white;
}
.company .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
  margin-left: 12%;

}
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* Main */
.main-banner {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15rem;
  }
  .headline {
    top: 10rem;
    width: 100%;
    padding: 1rem 2rem;
  }
  .headline h4 {
    font-size: 0.77rem;
  }
  .headline h1 {
    font-size: 1rem;
  }
}
.headline {
  font-size: Helvetica;
  padding: 2rem 3rem;
  color: white;
  background-color: black;
  width: 20rem;
  top: 9rem;
  position: relative;
}
.headline h4 {
  padding-bottom: 0.25rem;
  font-weight: bold;
  font-size: 1rem;
}

.headline h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  margin: 0.25rem 0;
  padding-bottom: 0.25rem;
  line-height: 2.5rem;
}

/* Navigation */
nav {
  background-color: firebrick;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  list-style: none;
  font-size: 1.1rem;
}

.mobile-nav {
  display: none;
}
@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
  .mobile-nav.container{
    display: block;
    text-align: center;
  }
}
/* Products */
.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}
.product {
  width: 30%;
}
.product-image {
border: 4px solid black;
padding: 2rem 0;
height: 9rem;
display: flex;
justify-content: center;
align-items: center;
}
.product-image img {
  max-width: 144px;
}
img {
  border-style: none;
}
.description {
display: block;
background-color: black;
color: white;
text-align: center;
padding: 0.5rem;
font-size: 1.1rem;
}
.mobile-nav {
  display: none;
}

.info {
  width: 35%;
}
.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.1rem;
}
@media only screen and (max-width: 1024px){

  .product {
    width: 47%;
  }
  .product.glasses {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  .product {
    width: 90%;
    margin: auto;
  }
  .product.watch {
    display: none;
  }
  .info {
    width: 90%;
    margin: 0.5rem auto;
  }
  .products,
  .business-info {
    flex-wrap: wrap;
  }
}
/* Footer*/
footer .container {
  background-color: black;
  color: white;
  padding: 5rem 0;
  text-align: left;
  margin-top: 4rem;
  font-size: 1.1rem;
  max-width: 1550px;
}
@media only screen and (max-width: 470px) {
  footer .container {
    text-align: center;
  }
}
